.accomodation__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.accomodation__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2.125em;
    padding-bottom: 1.5em;
}

.info__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.3125em;
}

.accomodation__data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.accomodation__title {
    font-weight: 500;
    font-size: 2.25em;
    margin: 0;
}

.accomodation__location {
    margin-top: 0.25em;
    margin-bottom: 0;
}

.host__data {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -0.625em;

}

.host__name {
    text-align: right;
    overflow-wrap: break-word;
    margin: 0;
}

.host__picture {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin: 0;
    margin-left: 0.625em;
}

.accomodation__location, .host__name {
    font-weight: 500;
    font-size: 1.125em;
}

.info__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accomodation__tags {
    display: flex;
    column-gap: 0.625em;
    padding-top: 0.9375em;
}

.tag {
    height: 1.5625em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.625em;
    padding-left: 2em;
    padding-right: 2em;
    color: #FFFFFF;
    background-color: #ff6060;
    font-weight: 500;
    font-size: 0.875em;
}

.accomodation__dropdowns {
    width: 100%;
    display: grid;
    column-gap: 4.75em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}