.btn__container {
    cursor: pointer;
}

.btn {
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 991.98px) {
    .btn__container {
        padding: 1.46em 0.365em 1.46em 0.365em;
    }
    .btn {
        width: 0.73em;
        height: 1.2375em;
    }
}


@media screen and (min-width: 992px) {
    .btn__container {
        padding: 1.46em;
    }
    .btn {
        width: 46.68px;
        height: 79.2px;
    }
}