.card__container {
    position: relative;
    background: linear-gradient(#FF6060, #803131);;
    width: 21.25em;
    height: 21.25em;
    border-radius: 0.625em;
    display: flex;
    justify-content:left;
    position: relative;
    overflow: hidden;
}

.card__cover{
    position: relative;
    object-fit: cover;
    width: 100%;
    z-index: 0;
}

.card__filter {
    position: absolute;
    display: flex;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(rgba(225, 225, 225, 0), 85%, rgba(0, 0, 0, 0.55));
    z-index: 1;
}

.card__title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.125em;
    align-self: flex-end;
    position: absolute;
    z-index: 2;
    margin: 1.25em;
}