.gallery {
    width: 1240px;
    height: 25.938em;
    /*border: 1px solid orange;*/
    display: flex;
    position: relative;
}

.gallery__view {
    overflow: hidden;
    border-radius: 1.5625em;
    width: inherit;
}

.gallery__nav {
    position: absolute;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery__wrapper {
    display: flex;
    flex-direction: row;
}