.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    margin: 2.5em auto 1.25em auto;
}

.logo--img {
    height: 4.25em;
}

.nav__link{
    color: #FF6060;
    font-weight: 500;
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 3.5625em;
}

.nav__link:hover{
    text-decoration: underline;
}
.nav, .logo {
    border: 1px solid yellowgreen;
}