.cards__container {
    display: grid;
    column-gap: 3.75em;
    align-items: center;
    justify-items: center;  
    border-radius: 1.5625em;
    max-width: 100%;
}

@media screen and (max-width: 767.98px) {
    .cards__container {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 1.25em;
      margin-top: 1.275em;
      margin-bottom: 1.275em;
    }
}

@media screen and (min-width: 576px) and (max-width: 1023.98px) {
  .cards__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.25em;
    margin-top: 1.275em;
    margin-bottom: 1.275em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1239.98px) {
    .cards__container {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3.125em;
      background-color: #F7F7F7;
      padding: 3.5em 3.125em;
      margin-top: 2.6875em;
      margin-bottom: 2.6875em;
    }
}

@media screen and (min-width: 1239.98px) {
    .cards__container {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 3.125em;
      margin-top: 2.6875em;
      margin-bottom: 2.6875em;
    }
}