.cards__container {
    display: grid;
    column-gap: 3.75em;
    row-gap: 3.125em;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: #F7F7F7;
    border-radius: 1.5625em;
    margin-top: 2.6875em;
    margin-bottom: 2.6875em;
    padding: 3.5em 3.125em;
    max-width: 100%;
}